body {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif !important;
}

.container-register {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
}

#togglePassword,
#toggleRepeatPassword {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1em;
  --bs-btn-hover-color: #212529;
}

.btn-submit {
  width: 100%;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #aaa;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #aaa;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.separator-text {
  font-size: 1em;
  color: #555;
  padding: 0 10px;
  background-color: #fff;
}

.alert {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  width: 100%;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}