<div class="mb-5 text-center" href="login">
  <img src="logo.png" alt="Automotora Logo" class="logo">
</div>

<div aria-live="polite" aria-atomic="true" class="position-relative">
  <div class="toast-container position-fixed top-0 end-0 p-3" id="toast-container"></div>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="col-4 text-center w-100 needs-validation" novalidate>
  <div class="form-group form-floating mb-3">
    <input type="text" formControlName="emailOrUsername" class="form-control" id="email"
      placeholder="Introduce tu correo electrónico o usuario" required>
    <label for="email">Correo electrónico o usuario</label>
    <div class="invalid-feedback">Por favor, introduce tu correo electrónico o usuario.</div>
  </div>

  <div class="form-group form-floating mb-3 position-relative">
    <input type="password" formControlName="password" class="form-control" id="pwd"
      placeholder="Introduce tu contraseña" required>
    <label for="pwd">Contraseña</label>
    <div class="invalid-feedback">Por favor, introduce tu contraseña.</div>
    <button type="button" id="togglePassword"
      class="btn btn-outline-dark position-absolute top-50 end-0 translate-middle-y">
      Mostrar
    </button>
  </div>

  <button type="submit" class="btn btn-submit btn-primary">Iniciar sesión</button>
</form>

<div class="separator my-4">
  <span class="separator-text">O</span>
</div>

<button type="button" class="btn btn-submit btn-secondary">Iniciar sesión con Facebook</button>

<p class="mt-4">
  ¿No tienes una cuenta? <a (click)="navigateToRegister()" class="link-dark">Regístrate</a>
  ¿Olvidaste tu contraseña? <a (click)="recoverPassword()" class="link-dark">Recuperar contraseña</a>
</p>

